.card{
    width: 210px;
    height: 240px;
    border-radius: 12px;
    border: 1px solid #000;
    padding: 0px 10px;
    background: #d1c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px;
}

.card__buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card__buttons button{
    width: 36px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 12px;
    cursor: pointer;
}

.card__buttons img{
    filter: invert(1.0);
}
